@inject HttpClient HttpClient
@inject IJSRuntime JsRuntime
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inherits ComponentBase
namespace DropBear.Blazor.Components.Components.Uploader;
<div class="file-uploader">
    <div class="file-uploader__dropzone @(_dragOver ? "dragover" : "")"
         @ondragenter:preventDefault
         @ondragenter="HandleDragEnter"
         @ondragleave:preventDefault
         @ondragleave="HandleDragLeave"
         @ondragover:preventDefault
         @ondrop:preventDefault>
        <p>
            <i class="fas fa-cloud-upload-alt fa-2x"></i>
        </p>
        <p>Drag & Drop files here or</p>
        <InputFile OnChange="HandleFileSelection" multiple class="file-uploader__input" id="fileInput"/>
        <label for="fileInput" class="file-uploader__label">
            <i class="fas fa-folder-open"></i> Choose Files
        </label>
    </div>
    <div class="file-uploader__file-list">
        @foreach (var file in _files)
        {
            <div class="file-uploader__file-item">
                <div class="file-uploader__file-info">
                    <div class="file-uploader__file-name">@file.Name</div>
                    <div class="file-uploader__file-meta">
                        @FormatFileSize(file.Size) | @(file.ContentType ?? "Unknown type")
                    </div>
                    <div class="file-uploader__file-status">@file.Status</div>
                    <div class="file-uploader__file-progress">
                        <div class="file-uploader__progress-bar" style="width: @(file.Progress)%"></div>
                    </div>
                </div>
                <button class="file-uploader__remove-btn" @onclick="() => RemoveFile(file)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        }
    </div>
    <div class="file-uploader__footer">
        <button class="file-uploader__upload-btn" @onclick="UploadFiles" disabled="@(_files.Count == 0 || _uploading)">
            @if (_uploading)
            {
                <i class="fas fa-spinner file-uploader__spinner"></i>
                <span>Uploading...</span>
            }
            else
            {
                <i class="fas fa-upload"></i>
                <span>Upload Files</span>
            }
        </button>
        <div class="file-uploader__progress">
            <div class="file-uploader__progress-bar" style="width: @($"{_overallProgress}%")"></div>
        </div>
    </div>
</div>
