@namespace DropBear.Blazor.Components.Components.Menus
@using Microsoft.JSInterop
@inherits ComponentBase
@inject IJSRuntime JsRuntime

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>

<div @ref="_menuElement"
     class="standard-context-menu @(IsVisible ? "active" : "") @(IsLightMode ? "theme-light" : "theme-dark")"
     style="left: @(_left)px; top: @(_top)px;"
     @onclick:stopPropagation
     role="menu">
    @foreach (var item in MenuItems)
    {
        if (item.IsSeparator)
        {
            <div class="standard-context-menu-separator" role="separator"></div>
        }
        else
        {
            <div class="standard-context-menu-item @(item.HasSubmenu ? "has-submenu" : "")"
                 @onclick="() => OnItemClick(item)"
                 role="menuitem"
                 tabindex="0"
                 @onkeydown="@(e => OnKeyDown(e, item))">
                @if (!string.IsNullOrEmpty(item.IconClass))
                {
                    <i class="@item.IconClass" aria-hidden="true"></i>
                }
                <span>@item.Text</span>
                @if (item.HasSubmenu)
                {
                    <i class="fas fa-chevron-right submenu-indicator" aria-hidden="true"></i>
                }
            </div>
        }
    }
</div>
