@inherits Microsoft.AspNetCore.Components.Forms.InputBase<string>
@namespace DropBear.Blazor.Components.Components.Forms

<div class="standard-textbox @GetWrapperClasses()">
    <input @attributes="AdditionalAttributes!"
           class="@GetInputClasses()"
           @bind="CurrentValue"
           @bind:event="oninput"
           @onfocus="OnFocusHandler"
           @onblur="OnBlurHandler"
           id="@Id"
           type="@Type"
           placeholder=" "
           disabled="@IsDisabled"/>
    <label class="standard-textbox-label" for="@Id">@Label</label>
    @if (ShowIcon)
    {
        <i class="@IconClass standard-textbox-icon" @onclick="OnIconClickHandler"></i>
    }
    @if (ShowCharacterCount)
    {
        <span class="standard-character-count">@CurrentValue?.Length/@MaxLength</span>
    }
    @if (IsError)
    {
        <div class="standard-error-message">@ErrorMessage</div>
    }
    @if (IsValid)
    {
        <div class="standard-valid-message">@ValidMessage</div>
    }
</div>
