@inherits ComponentBase
@namespace DropBear.Blazor.Components.Modals

@if (IsVisible)
{
    <div class="modal @(IsVisible ? "active" : "") @(LightMode ? "light-mode" : "")">
        <div class="modal-content">
            <div class="modal-header">
                <h2>@Title</h2>
                <button class="modal-close" @onclick="CloseClick">&times;</button>
            </div>
            <div class="modal-body">
                @BodyContent
            </div>
            <div class="modal-footer">
                @if (!LightMode || ShowCancelButton)
                {
                    <button class="btn btn-secondary" @onclick="CancelClick">@CancelText</button>
                }
                <button class="btn btn-primary" @onclick="ConfirmClick">@ConfirmText</button>
            </div>
        </div>
    </div>
}
