@inherits ComponentBase
namespace DropBear.Blazor.Components.Components.Loaders;
<div class="loading-spinner-container">
    <div class="loading-card @(IsCompact ? "compact" : "")" style="@CardStyle">
        @if (ShowTitle)
        {
            <h3>
                <i class="@IconClass"></i> @Title
            </h3>
        }
        <div class="spinner-container">
            <div class="spinner" style="@SpinnerStyle"></div>
        </div>
        @if (ShowLoadingText)
        {
            <p class="loading-text">
                @LoadingText<span class="dots">...</span>
            </p>
        }
    </div>
</div>
