@inherits ComponentBase
@namespace DropBear.Blazor.Components.Cards

<div class="@GetOverlayClasses()">
    <div class="@GetCardClasses()">
        <div class="card-header">
            <i class="@GetIconClass()" aria-hidden="true"></i>
            <h5 class="card-title">@Title</h5>
        </div>
        <div class="card-body">
            <p class="card-text">@Content</p>
            <div class="button-group">
                @if (ShowConfirmButton)
                {
                    <button class="btn btn-primary custom-btn" @onclick="OnConfirmClick">
                        <i class="@ConfirmIcon"></i> @ConfirmText
                    </button>
                }
                @if (ShowCancelButton)
                {
                    <button class="btn btn-secondary custom-btn" @onclick="OnCancelClick">
                        <i class="@CancelIcon"></i> @CancelText
                    </button>
                }
            </div>
        </div>
    </div>
</div>
