@inherits ComponentBase
@namespace DropBear.Blazor.Components.Cards

<div class="standard-card @AdditionalClasses">
    @if (!string.IsNullOrEmpty(Header) || !string.IsNullOrEmpty(IconClass))
    {
        <div class="card-header">
            @if (!string.IsNullOrEmpty(IconClass))
            {
                <i class="icon-header @IconClass"></i>
            }
            <h3 class="card-title">@Header</h3>
        </div>
    }

    @if (!string.IsNullOrEmpty(ImageUrl))
    {
        <img src="@ImageUrl" alt="@ImageAlt" class="card-img-top">
    }

    <div class="card-body">
        @if (!string.IsNullOrEmpty(BodyTitle))
        {
            <h3 class="card-title">@BodyTitle</h3>
        }
        <p>@BodyContent</p>
    </div>

    @if (ShowFooter)
    {
        <div class="card-footer">
            <button class="btn btn-primary" @onclick="OnFooterButtonClick">Action</button>
        </div>
    }
</div>
