@inherits ComponentBase
@namespace DropBear.Blazor.Components.Buttons

<button class="@ButtonClasses"
        disabled="@Disabled"
        @onclick="OnClickHandler"
        type="@Type"
        title="@Title">
    @if (!string.IsNullOrEmpty(IconClass))
    {
        <i class="@IconClass pad-left-5"></i>
    }
    @if (ChildContent != null)
    {
        <span class="btn-text">@ChildContent</span>
    }
</button>
